name: Deploy Application
on:
  workflow_dispatch:
  schedule:
    - cron: '30 7 * * 1-5'
permissions:
    id-token: write
    contents: read
    pull-requests: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Echo GitHub Runner IP
      run: |
        GITHUB_RUNNER_IP=$(curl -s https://ifconfig.me)
        echo "GITHUB_RUNNER_IP=$GITHUB_RUNNER_IP" >> $GITHUB_ENV
        echo "GitHub Runner IP: $GITHUB_RUNNER_IP"

    - name: Read Config
      id: read_config
      uses: mikefarah/yq@master
      with:
        cmd: |
          echo "PROJECT_CODE=$(yq eval '.project_code' .github/config.yml)" >> $GITHUB_ENV
          echo "PROJECT_NAME=$(yq eval '.project_name' .github/config.yml)" >> $GITHUB_ENV
          echo "INSTANCE=$(yq eval '.instance' .github/config.yml)" >> $GITHUB_ENV
          echo "REGISTRY_NAME=acr$(yq eval '.project_name' .github/config.yml)$(yq eval '.instance' .github/config.yml)" >> $GITHUB_ENV
          echo "IMAGE_NAME=$(yq eval '.project_name' .github/config.yml)-app-$(yq eval '.instance' .github/config.yml)" >> $GITHUB_ENV
          echo "APP_SERVICE_NAME=app-$(yq eval '.project_name' .github/config.yml)-$(yq eval '.instance' .github/config.yml)" >> $GITHUB_ENV
          echo "APP_SERVICE_SNET=$(yq eval '.app_service_snet' .github/config.yml)" >> $GITHUB_ENV

    - name: Debug Output
      run: |
        echo "PROJECT_CODE: ${{ env.PROJECT_CODE }}"
        echo "PROJECT_NAME: ${{ env.PROJECT_NAME }}"
        echo "INSTANCE: ${{ env.INSTANCE }}"
        echo "REGISTRY_NAME: ${{ env.REGISTRY_NAME }}"
        echo "IMAGE_NAME: ${{ env.IMAGE_NAME }}"
        echo "APP_SERVICE_NAME: ${{ env.APP_SERVICE_NAME }}"
        echo "IMAGE_TAGS: ${{ env.IMAGE_TAGS }}"

    - name: Set SHA and Release Tag
      run: |
        echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
        echo "RELEASE_TAG=$(git describe --tags --always)" >> $GITHUB_ENV
        echo "IMAGE_TAGS=${{ env.REGISTRY_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}" >> $GITHUB_ENV

    - name: Azure CLI Login
      uses: azure/login@v2.2.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Enable Network Access for ACR
      uses: ./.github/actions/manage-acr-network-access
      with:
        acr-name: "acr${{ env.PROJECT_NAME }}${{ env.INSTANCE }}"
        resource-group-name: "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-app"
        github-runner-ip: ${{ env.GITHUB_RUNNER_IP }}
        enable-network-access: true

    - name: Log in to ACR
      run: |
        az acr login --name ${{ env.REGISTRY_NAME }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        driver: docker-container

    - name: Build and push Docker image
      id: build-and-push
      uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4
      with:
        context: Childrens-Social-Care-CPD
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ env.IMAGE_TAGS }}
        build-args: |
          VCSREF=${{ env.sha_short }}
          VCSTAG=${{ env.RELEASE_TAG }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Enable Network Access for App Service
      uses: ./.github/actions/manage-app-service-network-access
      with:
        app-service-name: "${{ env.APP_SERVICE_NAME }}"
        resource-group-name: "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-app"
        github-runner-ip: ${{ env.GITHUB_RUNNER_IP }}
        enable-network-access: true

    - name: Add Inbound NSG Rule for App Service
      shell: bash
      run: |
        az network nsg rule create \
          --nsg-name "nsg-app-service-${{ env.PROJECT_NAME }}-${{ env.INSTANCE }}" \
          --resource-group "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-core-infra" \
          --name "Allow-GitHub-Runner-IP" \
          --priority 100 \
          --direction Inbound \
          --access Allow \
          --protocol Tcp \
          --source-port-range "*" \
          --destination-port-ranges 80 443 \
          --source-address-prefix "${{ env.GITHUB_RUNNER_IP }}" \
          --destination-address-prefix "${{ env.APP_SERVICE_SNET }}"
      
    # - name: Set vnetImagePullEnabled for App Service
    #   uses: azure/CLI@v1
    #   with:
    #     inlineScript: |
    #       az resource update --resource-group "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-app" \
    #       --name "app-${{ env.PROJECT_NAME }}-${{ env.INSTANCE }}" --resource-type "Microsoft.Web/sites" \
    #       --set properties.vnetImagePullEnabled=false > /dev/null

    - name: Sleep for 40s
      shell: bash
      run: |
        sleep 40

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.APP_SERVICE_NAME }}
        images: ${{ env.IMAGE_TAGS }}

    - name: Disable Network Access for ACR
      uses: ./.github/actions/manage-acr-network-access
      with:
        acr-name: "acr${{ env.PROJECT_NAME }}${{ env.INSTANCE }}"
        resource-group-name: "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-app"
        github-runner-ip: ${{ env.GITHUB_RUNNER_IP }}
        enable-network-access: false

    # - name: Set vnetImagePullEnabled for App Service
    #   uses: azure/CLI@v1
    #   with:
    #     inlineScript: |
    #       az resource update --resource-group "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-app" \
    #       --name "app-${{ env.PROJECT_NAME }}-${{ env.INSTANCE }}" --resource-type "Microsoft.Web/sites" \
    #       --set properties.vnetImagePullEnabled=true > /dev/null

    - name: Remove Inbound NSG Rule for App Service
      shell: bash
      run: |
        az network nsg rule delete \
          --nsg-name "nsg-app-service-${{ env.PROJECT_NAME }}-${{ env.INSTANCE }}" \
          --resource-group "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-core-infra" \
          --name "Allow-GitHub-Runner-IP"
      
    - name: Disable Network Access for App Service
      uses: ./.github/actions/manage-app-service-network-access
      with:
        app-service-name: "${{ env.APP_SERVICE_NAME }}"
        resource-group-name: "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-app"
        github-runner-ip: ${{ env.GITHUB_RUNNER_IP }}
        enable-network-access: false
  