name: Push and Deploy Image to App Service
on:
  workflow_dispatch:

permissions:
    id-token: write
    contents: read
    pull-requests: write

jobs:
  push-and-deploy:
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set GitHub Runner IP
      run: echo "GITHUB_RUNNER_IP=$(curl -s ifconfig.me)" >> $GITHUB_ENV

    - name: Read Config
      id: read_config
      uses: mikefarah/yq@master
      with:
        cmd: |
          echo "PROJECT_CODE=$(yq eval '.project_code' .github/config.yml)" >> $GITHUB_ENV
          echo "PROJECT_NAME=$(yq eval '.project_name' .github/config.yml)" >> $GITHUB_ENV
          echo "INSTANCE=$(yq eval '.instance' .github/config.yml)" >> $GITHUB_ENV
          echo "REGISTRY_NAME=acr${{ env.PROJECT_NAME }}${{ env.INSTANCE }}" >> $GITHUB_ENV
          echo "IMAGE_NAME=${{ env.PROJECT_NAME }}-app-${{ env.INSTANCE }}" >> $GITHUB_ENV
          echo "APP_SERVICE_NAME=app-${{ env.PROJECT_NAME }}-${{ env.INSTANCE }}" >> $GITHUB_ENV

    - name: Set SHA and Release Tag
      run: |
        echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
        echo "RELEASE_TAG=$(git describe --tags --always)" >> $GITHUB_ENV
        echo "IMAGE_TAGS=${{ env.REGISTRY_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}" >> $GITHUB_ENV

    - name: Azure CLI Login
      uses: azure/login@v2.2.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Enable Network Access for ACR
      uses: ./.github/actions/manage-acr-network-access
      with:
        acr-name: "acr${{ env.PROJECT_NAME }}${{ env.INSTANCE }}"
        resource-group-name: "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-app"
        github-runner-ip: ${{ env.GITHUB_RUNNER_IP }}
        enable-network-access: true

    - name: Log in to ACR
      run: |
        az acr login --name ${{ env.REGISTRY_NAME }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        driver: docker-container

    - name: Build and push Docker image
      id: build-and-push
      uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4
      with:
        context: Childrens-Social-Care-CPD
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ env.IMAGE_TAGS }}
        build-args: |
          VCSREF=${{ env.sha_short }}
          VCSTAG=${{ env.RELEASE_TAG }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.APP_SERVICE_NAME }}
        images: ${{ env.IMAGE_TAGS }}

    - name: Disable Network Access for ACR
      uses: ./.github/actions/manage-acr-network-access
      with:
        acr-name: "acr${{ env.PROJECT_NAME }}${{ env.INSTANCE }}"
        resource-group-name: "${{ env.PROJECT_CODE }}${{ env.INSTANCE }}-rg-${{ env.PROJECT_NAME }}-app"
        github-runner-ip: ${{ env.GITHUB_RUNNER_IP }}
        enable-network-access: false