name: Azure Load Test

on:
  workflow_dispatch:
    inputs:
      test_id:
        description: 'Load test ID'
        required: true
      target_url:
        description: 'Target URL for the load test'
        required: true

jobs:
  run-load-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Run Load Test
        uses: azure/load-testing@v1
        with:
          load-test-config-path: ./loadtest.yaml
          load-test-resource: ${{ secrets.AZURE_LOAD_TEST_RESOURCE }}
          resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
          test-id: ${{ github.event.inputs.test_id }}
          environment-variables: |
            TARGET_URL=${{ github.event.inputs.target_url }}
