name: Azure Load Test

on:
  workflow_dispatch:
    inputs:
      display_name:
        description: 'Enter a display name for the test run in Azure'
        required: true
        default: 'URLTest'
      url:
        description: 'URL must start with www.'
        required: true

permissions:
    id-token: write
    contents: read

env:
  RESOURCE_GROUP: s212p01-rg-sfsw-app
  LOAD_TEST_RESOURCE: lt-sfsw-p01

jobs:
  run-load-test:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate URL input starts with 'www.'
        run: |
          if [[ ! "${{ github.event.inputs.url }}" =~ ^www\. ]]; then
            echo "âŒ Invalid input: URL must start with 'www.' (e.g., www.example.com)"
            exit 1
          fi

      - name: Generate test ID
        id: generate_testid
        run: |
          TIMESTAMP=$(date -u +'%Y%m%d%H%M%S')
          TEST_ID="loadtest-$TIMESTAMP"
          echo "Generated testId: $TEST_ID"
          echo "test_id=$TEST_ID" >> "$GITHUB_OUTPUT"

      - name: Azure CLI Login
        uses: azure/login@v2.2.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Azure Load Testing
        uses: azure/load-testing@v1.1.27
        with:
          loadTestConfigFile: 'load-test/config.yml'
          loadTestResource: ${{ env.LOAD_TEST_RESOURCE}}
          resourceGroup: ${{ env.RESOURCE_GROUP }}
          testId: ${{ steps.generate_testid.outputs.test_id }}
          env: |
            [
              {
                "name": "url",
                "value": "${{ github.event.inputs.url }}"
              },
              {
                "name": "display_name",
                "value": "${{ github.event.inputs.display_name }}"
              }
            ]



