name: Azure Load Test

on:
  workflow_dispatch:
    # inputs:
    #   test_id:
    #     description: 'Load test ID'
    #     required: true
    #   target_url:
    #     description: 'Target URL for the load test'
    #     required: true

permissions:
    id-token: write
    contents: read

jobs:
  run-load-test:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure CLI Login
        uses: azure/login@v2.2.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


      - name: Create load test
        shell: bash
        run: |
          az load test create \
            --load-test-resource lt-sfsw-p01 \
            --resource-group s212p01-rg-sfsw-app \
            --test-id loadtest02 \
            --test-plan load-test/test-plan.json \
            --test-type URL

          az load test-run create \
            --load-test-resource lt-sfsw-p01 \
            --resource-group s212p01-rg-sfsw-app \
            --test-id loadtest02 \
            --test-run-id testrun01
